@model ECBNewWeb.Models.DonorData
<h4>تعديل متبرع</h4>

@using (Html.BeginForm("SaveEdit", "Donor", FormMethod.Post))
{
        <div class="row justify-content-md-center">
            <div class="form-group col-md-6">
                <label for="" class="">اسم المتبرع</label>  
                @Html.HiddenFor(d => d.Id)             
                @Html.TextBoxFor(d => d.DonorName, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">اللقب</label>
                @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">التليفون</label>
                @Html.TextBoxFor(d => d.Tele, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-3">
                <label for="" class="">المحافظة</label>
                @Html.DropDownListFor(x => x.GovernmentId, ViewBag.MyGovernments as List<SelectListItem>, new { @class = "form-control", @id = "govern" })
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">المركز</label>
                @Html.DropDownListFor(x => x.CenterId, Model.MyCenters as List<SelectListItem>, new { @class = "form-control", @id = "centers" })
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">النوع</label>
                @Html.DropDownListFor(x => x.GenderValue, ViewBag.Gender as List<SelectListItem>, new { @class = "form-control", @id = "genders" })
            </div>

            <div class="form-group col-md-3">
                <label for="" class="">الوظيفة</label>
                @Html.TextBoxFor(d => d.Job, new { @class = "form-control" })
            </div>


            <div class="form-group col-md-3">
                <label for="" class="">وسيلة الاتصال</label>
                @Html.DropDownListFor(x => x.TypeContactName, ViewBag.TypeContact as List<SelectListItem>, new { @class = "form-control", @id = "typeContact" })
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">متبرع</label>
                @Html.DropDownListFor(x => x.DonorOfName, ViewBag.Motabre3 as List<SelectListItem>, new { @class = "form-control", @id = "motabre3" })
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">تكرار التبرع</label>
                @Html.DropDownListFor(x => x.FreqName, ViewBag.Freq as List<SelectListItem>, new { @class = "form-control", @id = "freq" })
            </div>
            <div class="form-group col-md-6">
                <label for="" class="">العنوان</label>
                @Html.TextBoxFor(d => d.Address, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6">
                <label for="" class="">الشركة</label>
                @Html.TextBoxFor(d => d.WorkPlace, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-6">
                <label for="" class="">البريد الالكترونى <span style="color:red">(هام للتواصل)</span></label>
                @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })

            </div>
            <div class="form-group col-md-6">
                <label for="" class="">ملاحظات</label>
                @Html.TextBoxFor(d => d.Notes, new { @class = "form-control" })
            </div>
        </div>
        <div class="row justify-content-end">
            <button id="saveDonor" class="btn btn-success  col-md-2 form-group " type="submit">
                حفظ
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button id="cancelSave" class="btn btn-danger col-md-2 form-group" data-dismiss="modal" type="reset">
                الغاء
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#govern").change(function () {
            var data = [];
            var selectedvalue = $("#govern option:selected").val();
            $.getJSON("/Donor/PopulateCenters", { GovId: selectedvalue }, function (data) {
                data = $.map(data, function (item, a) {
                    return "<option value=" + item.Value + ">" + item.Text + "</option>";
                });
                $("#centers").html(data);
            });
        });
    });
</script>