@model ECBNewWeb.Models.ChangePasswordModel
<div class="">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                تعديل كلمة المرور
                            </h3>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("_ChangePassword", "Account", FormMethod.Post))
                {
                        <!--begin::Form-->
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="form-group m-form__group col-md-3">
                                <label for="">اسم المستخدم</label>
                                @{var UserInfo = (ECBNewWeb.CustomAuthentication.CustomMembershipUser)Membership.GetUser(System.Web.HttpContext.Current.User.Identity.Name, false); }
                                <input type="text" class="form-control" disabled="disabled" value='@UserInfo.UserName'/>
                            </div>
                            <div class="form-group m-form__group col-md-3">
                                <label for="" class="">الباسورد</label>
                                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", type = "Password", @id = "oldpass" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                @*<select id="govern" class="form-control m-input"></select>*@
                            </div>
                            <div class="form-group m-form__group col-md-3">
                                <label for="">كلمة السر الجديدة</label>
                                
                                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control m-input", @type = "Password", @placeholder = "كلمة السر الجديدة" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group m-form__group col-md-3">
                                <label for="">تاكيد كلمة السر الجديدة</label>
                               
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control m-input", @type = "Password", @placeholder = "كلمة السر الجديدة" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <br />

                    </div>

                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button id="" class="btn btn-success m-btn--pill " type="submit">
                                حفظ
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button id="" class="btn btn-danger m-btn--pill" data-dismiss="modal" type="reset">
                                الغاء
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                }

                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
