@model ECBNewWeb.Models.BookResposibilityModel
@{
    ViewBag.Title = "AllHandleBookReceipts";
    Layout = "~/Views/Shared/_LayoutShefaa2.cshtml";
}

    <link href="~/Content/css/bootstrap-glyphicons.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/custom/datatables/datatables.bundle.rtl.css" rel="stylesheet" />

<main class="page-content">
    <div class="container-fluid">
        <div class="m-content">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tabs">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h5 class="m-portlet__head-text">
                                        تسوية عهدة
                                    </h5>
                                </div>
                            </div>
                        </div>
                        @using (Html.BeginForm())
                        {
                        <div class="m-portlet__body">

                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="" class="">رقم طلب التسوية</label>
                                    @Html.DropDownListFor(m => m.RequestId, Model.MyDeliveryNo, new { @size = 6, @class = "form-control", @id = "deliveryRequests" })
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="" class="">خاص بطلب صرف رقم</label>
                                    @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control", @id = "requestNo", @disabled = "disabled" })
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="" class="">إسم الموظف</label>
                                    @Html.TextBoxFor(m => m.FullEmployeeName, new { @class = "form-control", @id = "fullEmployeeName", @disabled = "disabled" })
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="" class="">إسم المشرف</label>
                                    @Html.TextBoxFor(m => m.SupervisorName, new { @class = "form-control", @id = "supervisorName", @disabled = "disabled" })
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="" class="">الموقع</label>
                                    @Html.TextBoxFor(m => m.SiteName, new { @class = "form-control", @id = "siteName", @disabled = "disabled" })
                                </div>
                            </div>
                            <table class="table table-striped  table-bordered table-hover table-sm" id="m_table_1" role="grid" aria-describedby="m_table_1_info" style="width: 974px;">
                                <thead>
                                    <tr>
                                        <th>RespId</th>
                                        <th>BookReceiptId</th>
                                        <th>نوع الدفتر</th>
                                        <th>رقم الدفتر</th>
                                        <th> تاريخ طلب التسليم </th>
                                        <th>رقم اول ايصال</th>
                                        <th>رقم آخر ايصال</th>
                                        <th>دفتر منتهي</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="m-demo" data-code-preview="true" data-code-html="true">
                                <div class="m-demo__preview  m-demo__preview--btn">
                                    <button class="btn btn-success  m-btn--pill" id="approveRequest" disabled>إستلام</button>
                                </div>
                            </div>
                        </div>
                            }
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">

                            </div>
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>
        </div>
    </div>
</main>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/assets/demo/default/custom/components/base/sweetalert2.js"></script>
<script>
    var table;
    $(document).ready(function () {
        $.noConflict();
        table = $('#m_table_1').DataTable({
            "scrollY": 200,
            "scrollX": true,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox text-center',
                targets: 0,
            },
            { "className": "dt-center", "targets": [1, 2, 3,4] },
            { targets: 0, visible: false },
            {targets:1,visible:false}
            ],
            "language": {
                "emptyTable": "لاتوجد بيانات"
            }
        });
    });

    $("#deliveryRequests").change(function () {
        Amounts = [];
        BookTypeIds = [];
        var ReqId = $("#deliveryRequests option:selected").val();
        $.getJSON("/BookResposibilities/GetBookDeliveryRequests/", { RequestId: ReqId }, function (data) {
            data = $.map($.parseJSON(data), function (item, a) {
                return item;
            });
            $("#requestNo").val(data[0].EmployeeNo + '-' + data[0].RequestNo);
            $("#fullEmployeeName").val(data[0].FullEmpName);
            $("#supervisorName").val(data[0].ParentEmpName);
            $("#siteName").val(data[0].sitename);
        });
        $("#m_table_1").dataTable().fnDestroy();
        table = $('#m_table_1').DataTable({
            "scrollY": 200,
            "scrollX": true,
            "searching": true,
            ajax: {
                url: '/BookResposibilities/GetBookDeliveryRequests/',
                data: { RequestId: ReqId },
                dataSrc: function (data) {
                    data = $.parseJSON(data);
                    return data;
                }
            },
            columns: [
                { data: "RespId" },
                { data: "BookReceiptId" },
                { data: "name" },
                { data: "BookNo" },
                {
                    data: "RequestDate", render: function (d) {
                        return moment(d).format('A hh:mm:ss DD/MM/YYYY');
                    }
                },
                { data: "FromReceipt" },
                { data: "ToReceipt" },
                {
                    data:null,
                    render: function (data,type,full,meta) {
                        if (full.NextReceiptNo == null || full.NextReceiptNo == '') {
                            return 'غير منتهي';
                        }
                        else if ((full.LastSavedRecNo == full.NextReceiptNo) || (full.LastCanceledReceiptNo==full.NextReceiptNo)) {
                            return 'منتهي';
                        }
                        //else {
                        //    return 'غير منتهي';
                        //}
                    }
                }
            ],
            order: [[1, 'asc']],
            "language": {
                "emptyTable": "لاتوجد بيانات"
            }
        });
        $("#approveRequest").removeAttr("disabled");
    });
    $("#approveRequest").click(function (e) {
        var ReqId = $("#deliveryRequests option:selected").val();
        var myTableData = table.rows().data();
        myTableData.each(function (rowValue, rowIndex) {
            //alert(myTableData.rows(rowIndex).column(7).data());
            $.ajax(
            {
                type: "POST",
                url: "/BookResposibilities/ApproveDeliveryRequest/",
                data: {
                    RequestId: ReqId,
                    RespId: rowValue['RespId'],
                    BookReceiptId: rowValue['BookReceiptId'],
                    BookTypeId: rowValue['BookTypeId'],
                    NextReceiptNo: rowValue['NextReceiptNo'],
                    FirstReceiptNo: rowValue['FromReceipt'],
                    LastReceiptNo: rowValue['ToReceipt'],
                    HandleBookReceiptId: rowValue['BookReceiptId'],
                    BookState: function () {
                        if (rowValue.NextReceiptNo == null || rowValue.NextReceiptNo == '') {
                            return 'غير منتهي';
                        }
                        else if ((rowValue.LastSavedRecNo == rowValue.NextReceiptNo) || (rowValue.LastCanceledReceiptNo == rowValue.NextReceiptNo)) {
                            return 'منتهي';
                        }
                        else {
                            return 'غير منتهي';
                        }
                      }
                },
                success: function () {
                },
                error: function (request,error) {
                    console.log(error);
                }
            });
        })
    });
</script>

@if (TempData["Msg"] != null)
{
    if (TempData["Msg"].ToString() == "تم الحفظ بنجاح")
    {
        <script>
            $(function (e) {
                swal({
                    title: "حفظ",
                    text: "تم الحفظ بنجاح",
                    type: "success",
                    confirmButtonClass: "btn btn-success"
                })
               
            });
        </script>
    }
    else
    {
        <script>
            $(function (e) {
                swal({
                    title: "خطأ",
                    text: "لم يتم الحفظ",
                    type: "error",
                    confirmButtonClass: "btn btn-danger"})
            });
        </script>
    }
}


