@model ECBNewWeb.Models.BookResposibilityModel


<div class="">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                
                            </h3>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("EditBookResponsibility", "BookResposibilities", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.RespId)
                    @Html.HiddenFor(x => x.ParentAvailable, new { @id = "parentAvailable" })
                    @Html.HiddenFor(m => m.FirstReceiptNo)
                    @Html.HiddenFor(m => m.LastReceiptNo)
                    @Html.HiddenFor(m => m.BookTypeId)
                    @Html.HiddenFor(m => m.RecTypeId,new {@id="recTypeId" })
                        <!--begin::Form-->

                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="form-group m-form__group  col-md-3">
                                <label for="" class="">اسم الموظف</label>
                                @*@Html.DropDownListFor(x => x.EmployeeId, Model.MyEmployee as List<SelectListItem>, new { @class = "form-control m-input", @id = "Employeelist" })
                                @Html.DropDownListFor(x => x.EmployeeId, Model.MyEmployee as List<SelectListItem>, new { @class = "form-control m-input", @id = "centers" })*@
                                @Html.TextBoxFor(x => x.FullName, new { @class = "form-control  m-input", @id = "empid"  , @disabled = "disabled"  })
                                @Html.ValidationMessageFor(m => m.EmployeeId, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.EmployeeId)
                            </div>
                            <div class="form-group m-form__group  col-md-3">
                                <label for="" class="">نوع الدفتر</label>
                                @Html.TextBoxFor(x => x.ReceiptTypeName, new { @class = "form-control m-input", @id = "recType", @disabled = "disabled" })
                                @Html.HiddenFor(model => model.RecTypeId)
                            </div>
                            <div class="form-group m-form__group  col-md-3">
                                <label for="" class="">رقم الدفتر</label>
                                @Html.TextBoxFor(x => x.BookNo,new { @class = "form-control m-input", @id = "bookno", @disabled = "disabled" })
                                @Html.HiddenFor(model => model.HandleBookReceiptId)

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group m-form__group col-md-3">
                                <label for="">تاريخ التسليم</label>
                                @Html.TextBoxFor(m => m.ReceiveDate, "{0:yyyy-MM-dd}", new { @class = "form-control m-input", type = "date", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.ReceiveDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group m-form__group col-md-3">
                                <label for="">تاريخ التسوية</label>
                                @Html.TextBoxFor(m => m.DeliveryDate, "{0:yyyy-MM-dd}", new { @class = "form-control m-input", type = "date" })
                                @Html.ValidationMessageFor(m => m.DeliveryDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group m-form__group col-md-3">
                                <label for="">رقم اول ايصال</label>
                                @Html.TextBoxFor(m => m.NextReceiptNo, new { @class = "form-control m-input", @id = "nextReceiptNo", placeholder = "رقم اول ايصال", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.NextReceiptNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group m-form__group col-md-8">
                                @if (Model.DoneFlag == 1)
                                {
                                    <label class="m-checkbox m-checkbox--single  m-checkbox--state-success ">
                                        <input type="checkbox" name="DoneFlag" id="DoneFlag" checked disabled value="@Model.DoneFlag"> حالة الدفتر
                                        <span></span>
                                    </label>
                                }
                                else
                                {
                                    <label class="m-checkbox m-checkbox--single  m-checkbox--state-danger ">
                                        <input type="checkbox" name="DoneFlag" id="DoneFlag" disabled value="@Model.DoneFlag"> حالة الدفتر
                                        <span></span>
                                    </label>
                                }

                            </div>
                        </div>
                    <br />
                    </div>

                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <button id="save" class="btn btn-success m-btn--pill "  type="submit" >
                                        حفظ
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button id="cancelSave" class="btn btn-danger m-btn--pill" data-dismiss="modal" type="button">
                                        الغاء
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                }

                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>




<script>
    
    $(function () {
            var test = $('#openaddemp').is(":checked");
            if ($('#openaddemp').is(":checked")) {
                $("#div_Content").css('display', 'flex');
            }
            else {
                $("#div_Content").css('display', 'none');
            }
    });


    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetNextReceiptNoFromRecType", "BookResposibilities")',
            dataType: 'json',
            data: { RecTypeId: $("#recTypeId").val() },
            success: function (response) {
                var RecNo = $.parseJSON(response);
                if (RecNo[0].NextReceiptNo != null && RecNo[0].NextReceiptNo != 0) {
                    if ((RecNo[0].LastSavedRecNo == RecNo[0].NextReceiptNo && RecNo[0].LastSavedRecNo == RecNo[0].LastReceiptNo) || RecNo[0].LastCanceledReceiptNo == RecNo[0].LastReceiptNo) {
                        $("#parentAvailable").val(false);
                    }
                    else {
                        $("#parentAvailable").val(true);
                    }
                }
            },
            error: function (response) {
                console.log(response);
            }
        });
        $("#save").click(function () {
            if ($("#openaddemp").is(':checked')) {

                var empdata = $("#ddl_otheremp").val();
                var receivedate = $("#date_receive").val();
                if (empdata == "") {
                    $("#ddl_otheremp").attr("required", "true").attr("data-msg-required", "يجب اختيار الموظف");
                }
                else if (receivedate == "") {
                    $("#date_receive").attr("required", "true").attr("data-msg-required", "يجب اختيار تاريخ التسليم");
                }

            }
        });
    });
</script>