@model ECBNewWeb.Models.BookResposibilityModel



<div class="">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                تعديل تسليم الدفاتر 
                            </h3>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("EditBookResponsibility", "BookResposibilities", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.RespId)
                        <!--begin::Form-->

                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="form-group m-form__group  col-md-3">
                                <label for="" class="">اسم الموظف</label>
                                @*@Html.DropDownListFor(x => x.EmployeeId, Model.MyEmployee as List<SelectListItem>, new { @class = "form-control m-input", @id = "Employeelist" })
                                @Html.DropDownListFor(x => x.EmployeeId, Model.MyEmployee as List<SelectListItem>, new { @class = "form-control m-input", @id = "centers" })*@
                                @Html.DropDownListFor(x => x.EmployeeId, ViewBag.myEmployee as List<SelectListItem>, new { @class = "form-control  m-input", @id = "govern" })
                                @Html.ValidationMessageFor(m => m.EmployeeId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group m-form__group  col-md-3">
                                <label for="" class="">نوع الدفتر</label>
                                @Html.DropDownListFor(x => x.RecTypeId, ViewBag.myRecTypes as List<SelectListItem>, new { @class = "form-control m-input", @id = "recTypeList" })

                            </div>
                            <div class="form-group m-form__group  col-md-3">
                                <label for="" class="">رقم الدفتر</label>
                                @*<select id="bookno" class="form-control m-input" name="BookReceiptId"></select>*@
                                @Html.DropDownListFor(x => x.HandleBookReceiptId, ViewBag.myhandle as List<SelectListItem>, new { @class = "form-control m-input", @id = "bookno" })

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group m-form__group col-md-3">
                                <label for="">تاريخ التسليم</label>
                                @Html.TextBoxFor(m => m.ReceiveDate, "{0:yyyy-MM-dd}", new { @class = "form-control m-input", type = "date" })
                                @Html.ValidationMessageFor(m => m.ReceiveDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group m-form__group col-md-3">
                                <label for="">تاريخ التسوية</label>
                                @Html.TextBoxFor(m => m.DeliveryDate, "{0:yyyy-MM-dd}", new { @class = "form-control m-input", type = "date" })
                                @Html.ValidationMessageFor(m => m.DeliveryDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group m-form__group col-md-3">
                                <label for="">رقم اول ايصال</label>
                                @*<input type="text" class="form-control m-input" name="NextReceiptNo" placeholder="رقم اول ايصال" id="nextreceipt2" value="" disabled>*@
                                @Html.TextBoxFor(m => m.NextReceiptNo, new { @class = "form-control m-input", @id = "nextreceipt2", placeholder = "رقم اول ايصال", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.NextReceiptNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group m-form__group col-md-3">
                                @if (Model.DoneFlag == 1)
                                {
                                    <label class="m-checkbox m-checkbox--single  m-checkbox--state-success ">
                                        <input type="checkbox" name="DoneFlag" id="DoneFlag" checked disabled value="@Model.DoneFlag"> حالة الدفتر
                                        <span></span>
                                    </label>

                                }
                                else
                                {
                                    <label class="m-checkbox m-checkbox--single  m-checkbox--state-danger ">
                                        <input type="checkbox" name="DoneFlag" id="DoneFlag" disabled value="@Model.DoneFlag"> حالة الدفتر
                                        <span></span>
                                    </label>
                                }
                            </div>

                        </div>



                    </div>

                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <button id="save" class="btn btn-success m-btn--pill " type="submit">
                                        حفظ
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button id="cancelSave" class="btn btn-danger m-btn--pill" data-dismiss="modal" type="reset">
                                        الغاء
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                }

                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        
        // get book number
        $("#recTypeList").change(function () {
            var typeid = $("#recTypeList").val();
            $.ajax({
                url: "/BookResposibilities/PopulateBooks/",
                data: { bookid: typeid },
                datatype: "json",
                success:function(reponse)
                {
                    var txt = "";
                    txt += "<option value= ''>  </option>";
                    for (var item in reponse) {
                        txt += "<option value=" + reponse[item].Value + " >" + reponse[item].Text + "</option>";
                    }

                    $("#bookno").html(txt);
                }


            })

            $("#nextreceipt2").val('');
        })

        // Next Receipt number
        $("#bookno").change(function () {
            var typeid = $("#bookno").val();
            $.ajax({
                url: "/BookResposibilities/PopulateFirstReceiptNumber/",
                data: { Handlebookreceiptid: typeid },
                datatype: "json",
                success: function (response) {
                    var txt = "";
                    $("#nextreceipt2").val(response);
                    $("#nextreceipt2").text(response);
                }


            })
        })




    })
</script>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>