@model ECBNewWeb.Models.MarketingLicensesModel
<div class="">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                تعديل ترخيص
                            </h3>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("EditLicenses", "Licenses", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Id)
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="form-group m-form__group col-md-3">
                                <label for="">اسم الترخيص</label>

                                @Html.TextBoxFor(m => m.LicenseName, new { @class = "form-control m-input", @placeholder = "اسم الترخيص" })
                                @Html.ValidationMessageFor(m => m.LicenseName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group m-form__group col-md-3">
                                <label for="">تاريخ البداية</label>

                                @Html.TextBoxFor(m => m.FromDate, "{0:yyyy-MM-dd}", new { @class = "form-control m-input", type = "date" })
                                @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group m-form__group col-md-3">
                                <label for="">تاريخ النهاية</label>
                                @Html.TextBoxFor(m => m.ToDate, "{0:yyyy-MM-dd}", new { @class = "form-control m-input", type = "date" })
                                @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group m-form__group col-md-3">

                                @if (Model.Active == 1)
                                {
                                    <label class="m-checkbox m-checkbox--state-success ">
                                        <input type="checkbox" checked name="Active" id="Active" value="1"> حالة الترخيص
                                        <span></span>
                                    </label>

                                }
                                else
                                {
                                    <label class="m-checkbox m-checkbox--state-success ">
                                        <input type="checkbox"  name="Active" id="Active" value="1"> حالة الترخيص
                                        <span></span>
                                    </label>

                                }

                                
                            </div>

                        </div>



                    </div>

                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <button id="" class="btn btn-success m-btn--pill " type="submit">
                                        حفظ
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button id="" class="btn btn-danger m-btn--pill" data-dismiss="modal" type="reset">
                                        الغاء
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                }

                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>